
    
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      background: #f5f7fa;
      color: #333;
    }
    
    header {
      background: #2f6b64;
      color: white;
      padding: 2rem;
      text-align: center;
    }

    .tabs {
      display: flex;
      justify-content: center;
      background: #ffffff;
      border-bottom: 1px solid #ddd;
    }

    .tab-button {
      padding: 1rem 1.5rem;
      cursor: pointer;
      border: none;
      background: none;
      font-size: 1rem;
    }

    .tab-button.active {
      border-bottom: 3px solid #2f6b64;
      font-weight: bold;
      color: #2f6b64;
    }

    .tab-content {
      display: none;
      max-width: 800px;
      margin: 2rem auto;
      padding: 0 1rem;
    }

    .tab-content.active {
      display: block;
    }


/* Time tracking table*/

.table-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

#time-table {
  border-collapse: collapse;
  background: white;
  margin: 2rem auto;
  min-width: 1200px; 
}

th, td {
  border: 1px solid #ddd;
  padding: 0.5rem;
  text-align: center;
}

#time h2 {
  text-align: center;
} 
