
    
    body {
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
      color: #333;
    }
    
    header {
      background: #2f6b64;
      color: white;
      padding: 2rem;
      text-align: center;
    }

    .tabs {
      display: flex;
      justify-content: center;
      background: #ffffff;
      border-bottom: 1px solid #ddd;
    }

    .tab-button {
      padding: 1rem 1.5rem;
      cursor: pointer;
      border: none;
      background: none;
      font-size: 1rem;
    }

    .tab-button.active {
      border-bottom: 3px solid #2f6b64;
      font-weight: bold;
      color: #2f6b64;
    }

    .tab-content {
      display: none;
      margin: 2rem auto;
      padding: 0 1rem;
    }

    .tab-content.active {
      display: block;
    }


    /* Time tracking table*/

    .table-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
     }

    #time-table-spring,
    #time-table-summer {
      border-collapse: collapse;
      background: white;
      margin: 2rem auto;
      min-width: 1200px; 
    }

    th, td {
      border: 1px solid #ddd;
      padding: 0.5rem;
      text-align: center;
    }

    #time h2 {
      text-align: center;
    } 

   /* Docs Page */

    .docs-container {
      display: grid;
      grid-template-columns: 280px 1fr;
      height: calc(100vh - 200px);
    }

    .docs-sidebar {
      background: #fff;
      border-right: 1px solid gray;
      padding: 1rem;
      overflow-y: auto;
    }

    .docs-viewer iframe {
      width: 100%;
      height: 100%;
    }

    .docs-item {
      display: block;
      padding: 0.75rem;
      border-radius: 8px;
      margin-bottom: 0.5rem;
      background: rgb(242, 242, 242);
      cursor: pointer;
      transition: all 0.2s ease;
    }